<!DOCTYPE html>
<html class="h-100">
<head>
  <%= render 'shared/head' %>
</head>

  <body class="flex flex-col h-screen">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container mt-4 mx-auto flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>